{% load static %}
<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h1>{{ article.title }}</h1>
    </header>
    <nav>
        <a href="/">Domov</a>
        <a href="/blog/">Späť na blog</a>
    </nav>
    <main style="padding: 20px;">
        <p>{{ article.content }}</p>
        <small>Publikované: {{ article.created_at|date:"d.m.Y H:i" }}</small>
    </main>
    <footer>
        &copy; 2026 Moja Stránka
    </footer>
</body>

</html>